<ul class="container">
  <!-- <form>
    <input type="button" placeholder="hello">
  </form> -->
  <p id="ten-<%= counter %>" class="available">10</p>
  <p id="eleven-<%= counter %>" class="available">11</p>
  <p id="twelve-<%= counter %>" class="available">12</p>
  <p id="one-<%= counter %>" class="available">1</p>
  <p id="two-<%= counter %>" class="available">2</p>
  <p id="three-<%= counter %>" class="available">3</p>
  <p id="four-<%= counter %>" class="available">4</p>
</ul>
