<ul class="container">

  <form name="firstAppt-<%= counter %>">
    <button id="ten-<%= counter %>" class="available" value="<%= currentDay %>">10AM - 11AM</button>
  </form>

  <form name="secondAppt-<%= counter %>">
    <button id="eleven-<%= counter %>" class="available" value="<%= currentDay %>">11AM - 12PM</button>
  </form>

  <form name="thirdAppt-<%= counter %>">
    <button id="twelve-<%= counter %>" class="available" value="<%= currentDay %>">12PM - 1PM</button>
  </form>

  <form name="fourthAppt-<%= counter %>">
    <button id="one-<%= counter %>" class="available" value="<%= currentDay %>">1PM - 2PM</button>
  </form>

  <form name="fifthAppt-<%= counter %>">
    <button id="two-<%= counter %>" class="available" value="<%= currentDay %>">2PM - 3PM</button>
  </form>

  <form name="sixthAppt-<%= counter %>">
    <button id="three-<%= counter %>" class="available" value="<%= currentDay %>">3PM - 4PM</button>
  </form>

  <form name="seventhAppt-<%= counter %>">
    <button id="four-<%= counter %>" class="available" value="<%= currentDay %>">4PM - 5PM</button>
  </form>

</ul>
